.banner-container{
    text-align:center;
    background-position: 50% 70% !important;
    background-repeat: no-repeat !important;
    height: 350px;
    background-size: contain !important;
    border-radius: 10px;
}

img{
    width: 50px;
    margin-top: 15px;
}

@media (max-width:991px){
.banner-container{
    background-position: 50% 60% !important;
    }
}